.header {
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;


    position: fixed;  /* Change 'absolute' to 'fixed' */ //fixed navbar
    top: 0;           /* Stick to the top of the page */
    left: 0;          /* Stick to the left side of the page */
    right: 0;         /* Stick to the right side of the page */
    z-index: 30;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); //fixed navbar
    transition: height 0.3s ease; /* Add a smooth transition effect for height changes */ //fixed navbar

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}

// fixed navbar reduce size when scrolled
.header.scrolled { height: 50px; /* Adjust the height as needed when scrolled */ } //fixed navbar


